@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700&family=Ubuntu+Condensed&display=swap');
@import '~antd/dist/antd.css';
@import 'ckeditor-tailwind-reset/ckeditor-tailwind-reset';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .normal-transition {
        @apply transition-all ease-in-out duration-300;
    }
    .navMenu {
        @apply text-xl font-bold dark:text-white text-purple-800 group-hover:text-orange-600 hover:text-orange-600 transition-all duration-300 ease-in-out relative after:content-[''] after:absolute after:-bottom-2 after:left-0 after:w-0 after:h-0.5 after:bg-purple-800 after:rounded-lg after:normal-transition hover:after:w-1/2 group-hover:after:w-1/2 mx-2;
    }
}

html {
    scroll-behavior: smooth;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.ant-input:focus,
.ant-input-focused,
.ant-input:hover {
    border-color: #6b21a8 !important;
    box-shadow: 0 0 0 2px rgb(139 81 187 / 32%) !important;
}
